*.log
raw_data
.idea
.projectile*
.flake8rc
__pycache__*
seed.txt
TAGS
config.yml
raw_data
raw_data_test
serialization_test
serialization
test.config.yml
test
test_runs
*.yml
venv/
!example.config.yml

